<?xml version="1.0" encoding="UTF-8"?>

<!-- Configuration : ce sont les réglages qui indiquent à un programme comment fonctionner. 
phpunit.xml contient les réglages de PHPUnit. -->

<!-- Tests manuels → tester l'application dans le navigateur. -->

<!-- Tests automatisés avec PHPUnit → tester automatiquement le code. -->

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>


<!-- phpunit.xml
    ↓
configure PHPUnit
    ↓
bootstrap
    → charger l'autoload
    ↓
testsuites
    → trouver les tests
    ↓
cacheDirectory
    → stocker le cache -->


<!-- 
phpunit.xml est le fichier de configuration de PHPUnit. 
Il indique notamment à PHPUnit de charger l'autoloader
Composer, où trouver les tests et où stocker son cache. -->